ul,ol{
    list-style: none;
}

.r_margin{
    margin-right: 20px;
}

.left_day{
    width: 55px;    
}

.left_day h4,
.right_date h4{
    font-size: 16px;
}

.col_date{
    background-color: #f6f5f6;    
    width: 12px;
    border: 1px solid #ccc;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    margin-left: 10px;
    margin-top: 10px;
    box-shadow: inset 0px 0px 5px 1px rgba(119, 119, 119, 0.23);
    -moz-box-shadow: inset 0px 0px 5px 1px rgba(119, 119, 119, 0.23);
    -webkit-box-shadow: inset 0px 0px 5px 1px rgba(119, 119, 119, 0.23);
}

.right_date{
    width: 768px;
}

.wrap_feed{
    margin-top: 10px;    
}

.feed_item{
    position: relative;    
    margin-bottom: 50px;
}

.feed_item:first-child{
    margin-bottom: 30px !important;
}

.neo{
    position: absolute;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    background-color: #f6f5f6;
    width: 43px;
    height: 43px;
    left: -60px;
    top: 0;
    text-align: center;
}

.neo span{
    font-weight: bold;
    font-size: 22px;
    line-height: 40px;
}

.wrap_it_feed{
    margin-left: 0 !important;    
    margin-top: 20px;
}

.wrap_it_feed li{
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    margin: 10px 0;
    padding: 15px;
    position: relative;
}

.wrap_it_feed li:first-child:after{
    content: "";
    width: 11px;
    height: 15px;
    position: absolute;
    left: -11px;
    top: 15px;
    background: url('../images/right_arrow_bb.png') no-repeat;
}

h5.head_mess_feed{
    color: #0d90d2;
    font-size: 14px;
}

p.body_messs_fedd{
    font-size: 14px;
    margin: 5px 0;
}

.week_feed{
    text-align: center;
    margin-bottom: 30px;
}

.week_feed p{
    font-size: 15px;
}

.w_cont{
    width: calc(100% - 50px);
}

