ul,ol{
    list-style: none;
}
/*Custom for ask detail page*/
.ask_avatar{    
    background-color: #FFFFFF;
    border-radius: 6px;        
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    box-shadow: 0 1px 1px #B3B3B3, 1px 0 1px #B3B3B3, -1px 0 1px #B3B3B3, 0 -1px 1px #B3B3B3;
    padding: 15px;
}

.box_expert_detai{
    background-color: #FFFFFF;
    border-radius: 6px;        
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    box-shadow: 0 1px 1px #B3B3B3, 1px 0 1px #B3B3B3, -1px 0 1px #B3B3B3, 0 -1px 1px #B3B3B3;
}

.ask_content{
    background-color: #FFFFFF;
    border-radius: 6px;        
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    box-shadow: 0 1px 1px #B3B3B3, 1px 0 1px #B3B3B3, -1px 0 1px #B3B3B3, 0 -1px 1px #B3B3B3;
    padding: 20px;
}

.content_expert{
    padding: 0 !important;
}

.inner_avatar{
    padding: 10px;
    border-radius: 6px;        
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    box-shadow: inset 0px 0px 5px 1px rgba(119, 119, 119, 0.53);
    -moz-box-shadow: inset 0px 0px 5px 1px rgba(119, 119, 119, 0.53);
    -webkit-box-shadow: inset 0px 0px 5px 1px rgba(119, 119, 119, 0.53);
    text-align: center;    
}

.infomation_avatar{
    margin-top: 15px;
}

.l_label{
    width: 75px !important;
    font-weight: 600;
    float: left;
    font-size: 14px;
    color: #333333;
}

.r_label{
    width: 100px !important;
    font-weight: bold;
}

.l_control{
    margin-left: 85px !important;    
}

.l_control .img_company{
    margin-top: 5px;
}

.l_control span.name_com{
    margin-top: 5px;
    display: inline-block;
    color: #666666;
    font-size: 14px;
}

.mar_bottom{
    margin-bottom: 10px;
}

.r_control{
    margin-left: 110px !important;
}

.for_val_tt > span{
    margin-top: 7px;
    display: inline-block;
    font-size: 14px;
    color: #666666;
}

.l_contacted{
    width: 100%;
}

.l_btn_contacted{
    display: block;
    margin-top: 20px;
}

ul.btn_ct{
    margin-left: -40px;
}

ul.btn_ct li:last-child{
    margin-bottom: 0;
}

.btn_ct li{
    display: block;
    margin-bottom: 10px;
    text-align: center;
}

.btn_ct li a{
    font-size: 18px;
    font-weight: 600;
}

.btn_contact{
    display: block;
    padding: 10px 0;
    font-size: 14px;
    font-weight: 700;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;    
}

.btn_contact:hover{
    text-decoration: none;    
}

.btn_ct_u{        
    background-image: -webkit-linear-gradient(top, #129ade 0%, #0582c0 100%);
    background-image: -moz-linear-gradient(top, #129ade 0%, #0582c0 100%);
    border: 1px solid #0570a6;
    color: #fff;    
}

.btn_ct_u:hover{
    background-image: -webkit-linear-gradient(bottom, #129ade 0%, #0582c0 100%);
    background-image: -moz-linear-gradient(bottom, #129ade 0%, #0582c0 100%);
    color: #fff !important;
}

.btn_book{  
    color: #666;
    border: 1px solid #ccc;
    background-image: -webkit-linear-gradient(top, #ffffff 0%, #e8e8e8 100%);
    background-image: -moz-linear-gradient(top, #ffffff 0%, #e8e8e8 100%);
}

.btn_book:hover{
    background-image: -webkit-linear-gradient(bottom, #ffffff 0%, #e8e8e8 100%);
    background-image: -moz-linear-gradient(bottom, #ffffff 0%, #e8e8e8 100%);
    color: #666;
}

.l_btn_viewmore{
    margin-top: 80px;
}

.box_content{
    margin-top: 50px;
}

.box_content:first-child{
    margin-top: 0;
}

.box_content:nth-child(2){
    margin-top: 30px;
}

.box_content h4{
    color: #139ade;
    border-bottom: 3px solid #eaeaea;    
    font-size: 21px;
    font-weight: 600;    
    padding-bottom: 10px;
}

.head_title{
    color: #000 !important;
    border-bottom: none !important;
}

.line{
    border-bottom: 1px solid #ccc;
}

.line h4{
    margin-left: 10px;
    padding-bottom: 0;
}

ul.social{
    list-style: none;
    display: block;
    margin-top: 7px;
    margin-right: 10px;
}

.social li{
    float: left;
    display: inline-block;

}

.social li .social_item{
    display: block;
    background: url(../images/ask-social-icon.png) no-repeat;
    width: 25px;
    height: 25px;
    margin: 0 3px;
    text-align: center;
}

.social li .soci_item1{
    background-position: 0 0;
}

.social li .soci_item2{
    background-position: -30px 0;
}

.social li .soci_item3{
    background-position: -60px 0;
}

.social li .soci_item4{
    background-position: -90px 0;
}

.social li .soci_item5{
    background-position: -120px 0;
}

.social li .soci_item6{
    background-position: -150px 0;
}

.social li .soci_item7{
    background-position: -180px 0;
}

.social li .soci_item8{
    background-position: -210px 0;
}

.media-img{
    margin-right: 15px;
    width: 140px;
    text-align: center;
}

.media-img-experts{    
    padding: 5px !important;
    text-align: center;
}

.media-img-book{
    padding: 5px !important;
    text-align: center;
    width: 215px;
}

.media-img-webinar{
    padding: 5px !important;
    text-align: center;
    width: 260px;
}

.graphy_content{
    margin-top: 10px;
    line-height: 26px;
    color: #333;
}

.f_margin{
    margin-top: 10px;
}

.detail_of_item{
    margin-left: -35px;
}

.detail_of_item li:first-child a{        
    color: #0089c0;
    font-weight: 700;
}

.detail_of_item li:nth-child(2) h5{
    color: #333;
    font-weight: 700;
}

.detail_of_item li span{    
    font-weight: 700;
}

.detail_of_item li:last-child a{
    font-style: italic;
}

.ask_shadow{
    box-shadow: inset 0px 0px 5px 1px rgba(119, 119, 119, 0.53);
    -moz-box-shadow: inset 0px 0px 5px 1px rgba(119, 119, 119, 0.53);
    -webkit-box-shadow: inset 0px 0px 5px 1px rgba(119, 119, 119, 0.53);
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    padding: 5px 0;
}

.info_for_contact{
    margin-left: -40px;
}

.info_for_contact li{
    margin-bottom: 5px;
    color: #333;
    font-size: 14px;
}

.info_for_contact li span{
    font-size: 14px;
    font-weight: bold;
    width: 130px;
    text-align: right;
    display: inline-block;
    margin-right: 15px;
    color: #333;
}

/*Custom for Experts*/
.inner_headers{
    margin-bottom: 0 !important;
}

.list_item_expert{
    padding: 20px;
}

.expert_item{
    margin-bottom: 40px;
}

.it_expert_detail{
    margin-left: 10px;
}

.it_expert_detail h5 a{
    color: #000;
    font-size: 18px;
    font-weight: 700;
    margin-top: 5px;
    display: block;
}

.it_expert_detail a.meet_author{
    color: #1222bc !important;    
    font-family: 'Tahoma';
}

.expert_item{
    min-height: 160px;
}

.expert_item:last-child{
    margin-bottom: 0px;
}

.view_more{
    display: block;
    text-align: center;
    text-transform: uppercase;
    background: linear-gradient(to top, #f5f5f5 0%, #ffffff 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    padding: 15px 0;
    border-top: 1px solid #ccc;
    border-radius: 0 0 6px 6px;
    -webkit-border-radius: 0 0 6px 6px;
    -moz-border-radius: 0 0 6px 6px;
    -ms-border-radius: 0 0 6px 6px;
    -o-border-radius: 0 0 6px 6px;
}

.view_more a{
    color: #1222bc;
    font-size: 15px;
    font-family: 'Tahoma';
}

.line_box_client{
    height: 1px;
    background-color: #ccc;    
}

.head_box_line{    
    border-bottom: 1px solid #ccc;
}

.title_for_box{
    display: inline-block;
    padding: 15px 0 15px 20px;
    font-size: 18px;
    font-weight: 600;
}

.m_top{
    margin-top: 12px;
    margin-right: 10px;
}

.inline_filter_bar{
    margin-right: 8px;
    font-size: 12px;
}

.group_m_right{
    margin-right: 25px;
}

.re_button{
    padding: 2px 7px 1px;
}

.re_ipt_search{
    height: 25px;
    padding: 2px 10px 2px;
}

.list_item_expert h3.tt_list_expert{
    font-size: 13px;
    font-weight: 600;
    color: #333333;
    margin-top: -10px;
    margin-bottom: 18px;
}

.bg_sponsored{
    background-color: #f3f7f9;
}

#ex_sort_by,
#book_sort{
    width: 145px;
}

#webinar_sort{
    width: 155px;
}