.header-bookstore-page {
    border-bottom: 1px solid #ccc;
    height: 50px;
    margin-bottom: 40px;
    background: linear-gradient(to top, #f5f5f5 0%, #ffffff 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-radius: 6px 6px 0 0;
}
.info-search-filter {float: right;}
.info-search-filter > form > div {float: left;line-height: 57px;}
.filter-sort label {display: block;float: left;line-height: 40px;padding: 5px 12px 5px 0;}
#search-book .filter-search label {line-height: 50px;}
.header-bookstore-page > h3 {line-height: 50px;padding-left: 15px;position: absolute;}
#sortbook,#sortexpert {width: 145px;background: none repeat scroll 0 0 #fff;border-radius: 3px;height:25px;padding:2px;}
.filter-sort {margin-right: 30px;}
.key-search-input {width: 165px;}
.submit-search {
    background: url("../images/icon-search.png") no-repeat scroll center center #fff;
    border: 1px solid #ccc;
    border-radius: 0 2px 2px 0;
    display: inline-block;
    height: 27px;
    margin: -9px 10px 0 -7px;
    padding: 0;
    text-indent: -9999em;
    width: 25px;
}
#search-book label {float: left;line-height: 40px;padding-right: 10px;}
.item-book {display: block;margin-bottom: 50px;overflow: hidden;position: relative;}
.bookstore-content {line-height: 1.6em;padding-top: 5px;}
.bookstore-image {float: left;padding-right: 22px;}
.bookstore-image > a {
    background: none repeat scroll 0 0 #f7f6f6;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 1px 0 2px 1px #DDD inset, -1px 0 2px 1px #DDD inset, 0 1px 2px 1px #DDD inset, 0 -1px 2px 1px #DDD inset;
    display: block;
    height: 225px;
    line-height: 223px;
    margin: 0 auto;
    text-align: center;
    width: 220px;
}
.title-item-book > a {color: #0089c0;font-size: 18px;font-weight: bold;}
.author-item-book {font-size: 15px;}
.content-item-book {font-size: 14px;line-height: 1.5em;padding-top: 15px;}
.content-bookstore-page > ul {margin-right: 25px;}
.author-item-book > strong {padding-right: 5px;}
.bookstore-footer {border-top: 1px solid #ccc;font-size: 15px;font-weight: normal;margin-top: -15px;padding: 25px 0;text-align: center;text-transform: uppercase;}
.bookstore-footer > a {color: #333dc1;}
.line-head-book {font-size: 16px;padding-bottom: 5px;padding-top: 15px;text-align: right;}
.line-head-book span{font-style: italic;}
.line-head-book span {color: #6c6c6c;font-style: italic;font-weight: normal;}
#search-book .key-search-input {height: 25px;padding: 0 4px;width: 165px;}
.view-more-item {font-style: italic;}
.bookstore-left-detail{width: 32%;}
.bookstore-right-detail{width: 68%;}
.bookstore-wrapper > div {float: left;min-height: 250px;}
.left-container {margin-right: 15px;height: 100%;padding: 12px;}
.right-container {margin-left: 15px;min-height: 757px;padding: 0 12px 12px;}
.header-content-book {border-bottom: 1px solid #ccc;margin: 0 -12px;padding: 10px 0;overflow: hidden;}
.header-content-book > h3 {font-size: 20px;padding-left: 12px;text-transform: capitalize;float: left;}
.social-book-detail {float: right;margin-right: 8px;}
.item-social {display: inline-block;float: left;margin-right: 5px;}
.item-social > a {
    display: block;
    height: 25px;
    width: 25px;
    text-indent: -9999em;
}
.item-social > a.mail-social{
    background: url("../images/files/book/social_book_item.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.item-social > a.google-social{
    background: url("../images/files/book/social_book_item.png") no-repeat scroll -30px 0 rgba(0, 0, 0, 0);
}
.item-social > a.twitter-social{
    background: url("../images/files/book/social_book_item.png") no-repeat scroll -60px 0 rgba(0, 0, 0, 0);
}
.item-social > a.facebook-social{
    background: url("../images/files/book/social_book_item.png") no-repeat scroll -90px 0 rgba(0, 0, 0, 0);
}
.sum-book-detail {line-height: 1.9em;}
.main-content-book {margin: 25px 8px 8px;}
.sum-book-detail > h4, .info-book-detail > h4 {
    color: #139ade;
    font-size: 21px;
    font-weight: bold;
    border-bottom: 5px solid #eaeaea;
    padding-bottom: 13px;
    margin-bottom: 10px;
}
.info-book-detail {margin-top: 50px;}
.sum-book-detail > div {font-size: 14px;}
.sum-book-detail > div > strong{padding-right: 5px;}
.sum-book-detail > div > span{color:#494949}
.left-book-detail-image {text-align: center;}
.left-book-detail-image > a {
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 5px 0 3px -5px #909090 inset, -5px 0 3px -5px #909090 inset, 0 5px 3px -5px #909090 inset, 0 -5px 3px -5px #909090 inset;
    display: inline-block;
    overflow: hidden;
    position: relative;
}
.left-book-detail-image img {padding: 5px;}
.left-book-pay > ul {margin: 0 auto;}
.left-book-pay {margin-top: 15px;}
.item-payment {display: block;height: 50px;margin: 0 7px 10px;text-align: center;}
.item-payment > a {display: block;height: 100%;text-indent: -9999em;}
.item-payment > a.amazon {background: url("../images/files/book/layment_book_item.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);}
.item-payment > a.barnes_noble {background: url("../images/files/book/layment_book_item.png") no-repeat scroll 0 -60px rgba(0, 0, 0, 0)}
.item-payment > a.book_a_million {background: url("../images/files/book/layment_book_item.png") no-repeat scroll 0 -120px rgba(0, 0, 0, 0)}
.item-payment > a.scottduffy {background: url("../images/files/book/layment_book_item.png") no-repeat scroll 0 -180px rgba(0, 0, 0, 0)}
.content-detail-info {
    font-size: 14px;
    line-height: 1.9em;
}
.st_email_large {
    float: left;
    padding-right: 2px;
}
.stButton .stLarge, #share a {
    display: inline-block;
    height: 25px !important;
    text-indent: -999em;
    width: 25px !important;
}
.st_email_large .stButton .stLarge{
    background:url("../images/files/book/social_book_item.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
}
#share .plusone{
    background:url("../images/files/book/social_book_item.png") no-repeat scroll -30px 0 rgba(0, 0, 0, 0) !important;
}
#share .twitter{
    background:url("../images/files/book/social_book_item.png") no-repeat scroll -60px 0 rgba(0, 0, 0, 0) !important;
}
#share .facebook{
    background:url("../images/files/book/social_book_item.png") no-repeat scroll -90px 0 rgba(0, 0, 0, 0) !important;
}

/*=====================*/
.it_book_detail{
    margin-left: 10px;
}

.it_book_detail h5 a{
    color: #0089c0;
    font-size: 18px;
    font-weight: 700;
    margin-top: 5px;
    display: block;
}

.it_book_detail span{
    font-weight: 700;
}

.description_book{
    margin-top: 30px;
}

.book_distribute{
    background-image: -webkit-linear-gradient(top, #ffffff 0%, #f4f3f4 100%);
    background-image: -o-linear-gradient(top, #ffffff 0%, #f4f3f4 100%);
    background-image: linear-gradient(to bottom, #ffffff 0%, #f4f3f4 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe0e0e0', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    background-repeat: repeat-x;  
    text-shadow: 0 1px 0 #fff;
    border: 1px solid #ccc;
    height: 50px;
    /*padding: 5px 0;*/
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
}

.book_distribute a{
    font-size: 0;
    display: block;
    height: 50px;
}

.book_distribute img{
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.series_webbinar a{
    margin: 10px 20px 0 0;
    font-size: 12px;
    color: #0000ff;
    display: inline-block;
}