ul,ol{
    list-style: none;
}

.wrap{
    background-color: #FFFFFF;
    border-radius: 6px;        
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    box-shadow: 0 1px 1px #B3B3B3, 1px 0 1px #B3B3B3, -1px 0 1px #B3B3B3, 0 -1px 1px #B3B3B3;    
}

.main_menu{
    padding: 15px 0 15px 15px;
}

.menu_title{
    display: block;
    margin-top: 20px;
    margin-bottom: 10px;
}

.main_menu ul{
    border: 1px solid #0570a6;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    margin-left: 0 !important;
}

.main_menu ul li{
    background-image: -webkit-linear-gradient(top, #1198DC 0%, #0785C4 100%);
    background-image: -moz-linear-gradient(top, #1198DC 0%, #0785C4 100%);
    border-bottom: 1px solid #0570a6;
    display: block;
}

.main_menu ul li:first-child{
    border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    -ms-border-radius: 5px 5px 0 0;
    -o-border-radius: 5px 5px 0 0;
}

.main_menu ul li:last-child{
    border-bottom: none;
    border-radius: 0 0 5px 5px;
    -webkit-border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    -ms-border-radius: 0 0 5px 5px;
    -o-border-radius: 0 0 5px 5px;
}

.main_menu ul li a{
    background: url("../images/arow-cotrol.png") no-repeat scroll 90% 11px rgba(0, 0, 0, 0);
    color: #FFFFFF;
    display: block;
    font-size: 15px;
    font-weight: bold;
    padding: 11px 10px 11px 10px;

}

.main_menu ul .m_active,
.main_menu ul li:hover{
    background-image: -webkit-linear-gradient(bottom, #0570A6 0%, #0D7FB8 100%);
    background-image: -moz-linear-gradient(bottom, #0570A6 0%, #0D7FB8 100%);
}

.main_menu ul li a:hover{
    text-decoration: none;
}

.f_margin{
    margin-top: 20px;
}

.t_margin{
    margin-top: 20px;
}

.wrap_container{
    padding: 15px 15px 15px 0;
}

.frame{
    border: 1px solid #ccc;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;  
    margin-bottom: 30px;
}

.header_frame{
    border-bottom: 1px solid #ccc;
}

.header_frame h4{
    padding: 10px 0 10px 15px;
    font-size: 15px;
}

.over_body{
    box-shadow: inset 0px 2px 6px 1px rgba(202, 196, 196, 0.34);
    -moz-box-shadow: inset 0px 2px 6px 1px rgba(202, 196, 196, 0.34);
    -webkit-box-shadow: inset 0px 2px 6px 1px rgba(202, 196, 196, 0.34);
}

.inner_body{
    padding: 15px;
}

.inner_head_body{
    margin: 20px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    border: 1px solid #ccc;    
}

.step_title{
    color: #139ade;
    border-bottom: 3px solid #eaeaea;
    padding-bottom: 10px;
    font-size: 18px;
}

.getstart{
    margin-right: 10px;
}

.col1 h5{
    margin-top: 5px;
    font-size: 13px;
}

.col1 > a{
    display: inline-block;
    margin-top: 5px;    
}

.col2 > span{
    display: inline-block;
    color: #139ade;
    width: 10px;
}

.col2 h5{
    margin-top: 5px;
    color: #139ade;
    font-size: 13px;
    display: inline-block;
}

.getstart > a{
    display: block;
    margin-top: 5px;
}

.over_body{
    height: 100px;
    text-align: center;
    vertical-align: middle;
    background-color: #f5f5f5;
}

.over_foot{
    height: 30px;
    text-align: center;
    border-top: 1px solid #ccc;
}

.over_foot p{
    line-height: 30px;
    color: #666;
    font-weight: 700;
}

.over_col1{
    width: 200px;
    border-right: 1px solid #ccc;
}

.stastic{
    color: #1299dd;
    font-size: 42px;
    display: inline-block;
    margin-top: 40px;
}

.over_col2{
    width: 350px;
}

.for_pro{
    width: 300px;
    margin-top: 40px;
    display: inline-block;
}

.new_pro_size,
.new_bar_size{
    height: 22px !important;
    line-height: 22px !important;
}

.over_col3{
    width: 259px;
    border-left: 1px solid #ccc;
}

.king_rate{
    padding: 10px 20px;
}

.k_rate{
    margin-left: 10px !important;
    margin-top: 0 !important;    
}

.k_rate .act{
    opacity: 1;
    filter: alpha(opacity=100);
}

.king_rate ul li{
    width: 30px;
    height: 30px;
    background: url('../images/king-icon.png');
    float: left;
    margin: 5px 10px;
    opacity: .5;
    filter: alpha(opacity=50);
    cursor: pointer;    
}

.king_rate ul li:hover{
    opacity: 1;
    filter: alpha(opacity=100);
}





