#wrapper-content #child-content{
    display: block;
	overflow: hidden;
    margin: 30px;
    position: relative;
}

#child-video{
    float: left;
	width: 70%;
}

#child-content-wrap{
	float: right;
	width: 28%;
}

#child-video, #child-content-wrap{
	display: block;
}
/*Video block*/
#child-video .child-name, #child-content-wrap .child-title{
	background-color: #139ade;
	height: 55px;
	border: 1px solid #107cb3;
	border-radius: 5px 5px 0 0;
	color: #FFFFFF;
}

.child-name span, .child-title span{
	float: left;
	font-size: 18px;
	margin: 19px;
}

.child-name span.child-order{
	margin: 0px;
	padding: 19px;
	border-right: 1px solid #107cb3;
}

.child-name a{
	float: right;
	color: #FFFFFF;
	text-decoration: none;
	font-size: 13px;
	margin: 19px;
}

#child-video .promoted-video{
	border: 1px solid #cccccc;
	border-top: none;
	border-radius: 0 0 5px 5px;
	padding: 15px;
	min-height: 681px;
}

.youtube-video {
	background-color: #f8f7f7;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    padding: 4px;
	padding-bottom: 0px;
	overflow: hidden;
}

.promoted-video .youtube-video span{
	float: left;
	padding: 18px 0 20px 16px;
	font-size: 18px;
	max-width: 70%;
}

.promoted-video .youtube-video a {
	float: right;
	padding: 18px 16px 20px 0;
	color: #333dc1;
	text-decoration: none;
	font-size: 14px;
	max-width: 20%;
}

.featured-video {
    margin: 0 -10px;
	overflow: hidden;
}

.featured-video ul{
	height: 100%;
	margin-top: 20px;
	overflow: hidden;
}

.featured-video ul li{
	float: left;
	width: 25%;                               
	height: 100%;
}

.featured-video ul li .thumbnail-video{
	text-align: center;
}
.featured-video ul li .thumbnail-video a{
	height: 100%;
	display: inline-block;
	border: 1px solid #cccccc;
	border-radius: 3px;
	padding: 4px;
	box-shadow: -1px 1px 2px #E6E6E6 inset, 1px 1px 2px #E6E6E6 inset, 1px -1px 3px #E6E6E6 inset;
}

.featured-video ul li a, .featured-video ul li span{
	display: block;
	padding-left: 15px;
}

.featured-video ul li a{
	color: #333dc1;
	text-decoration: none;
	margin: 2px 0;
}

.featured-video ul li span{
	color: #7d7d7d;
}

.featured-video #more-video{
	color: #333dc1;
	text-decoration: none;
	float: right;
	margin: 12px 14px 0 0;
}

/*Content block*/
.child-content{
	border: 1px solid #cccccc;
	border-top: none;
	border-radius: 0 0 5px 5px;
}

.child-content ul{
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	height: 100%;
}

.child-content ul li{
	height: 100%;
	border-bottom: 1px solid #cccccc;
	background-image: url('../images/bg-submenu.png');
}

.child-content ul li a{
	display: block;
	color: #333333;
	text-decoration: none;
	height: 100%;
	padding: 10px;
	font-weight: 600;
	background: url('../images/arrow-grey.png') no-repeat 290px center;
}

.child-content .advertising{
    padding: 27px 30px 34px 30px;
}
.child-content .advertising a{
    height: 100%;
    display: block;
}

.child-content .advertising img{
    border: 1px solid #c2ade1;
}

.child-content .child-desc {
    color: #7d7d7d;
    min-height: 321px;
    padding: 0 30px 30px;
    text-align: justify;
	line-height: 23px;
}

.child-completed{
    border: 1px solid #139ade;
    border-radius: 0 0 5px 5px;
    margin: 0 0 -1px -1px;
    width: 100%;
}

.child-completed span{
    color: #7d7d7d;
    display: block;
    margin: 11px 0;
    padding: 0 30px;
}

.child-completed .wrap-submit{
	text-align: center;
    width: 100%;
	padding-bottom: 10px;
}
.submit-completed {    
	background: url("../images/check-mark.png") no-repeat scroll center center #fff;
    border: 1px solid #ccc;
    border-radius: 0 2px 2px 0;
    display: inline-block;
    height: 34px;
    margin: -9px 10px 0 -7px;
    padding: 0;
    text-indent: -9999em;
    width: 14%;
}

.child-completed .input-key {
	background: url("../images/x-mark.png") no-repeat scroll 8px center #fff;
    height: 32px;
    padding: 0 4px 0 30px;
    width: 52%;
}