.header-bookstore-page {
	border-bottom: 1px solid #ccc;
	height: 50px;
	margin-bottom: 40px;
	background: linear-gradient(to top, #f5f5f5 0%, #ffffff 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-radius: 6px 6px 0 0;
}
.filter-type {
    display: inline;
	float: left;
	position: absolute;/*Dont break form when zoom*/
}
.filter-type a{
	color: #1222bc;
	text-decoration: none;
	margin: 5px 0;
	display: inline-block;
	margin-top: 16px;
}
.filter-type a.map-view{
	border-right: 1px solid #cccccc;
	padding-right: 10px;
	float: left;
	margin-left:  230px;
}
.filter-type a.list-view{
	margin-left: 10px;
}
.info-search-filter {float: right;}
.info-search-filter > form > div {float: left;line-height: 57px;}
.filter-sort label {display: block;float: left;line-height: 40px;padding: 5px 12px 5px 0;}
#search-book .filter-search label {line-height: 50px;}
.header-bookstore-page > h3 {line-height: 50px;padding-left: 15px;position: absolute;}
#sortbook {width: 145px;background: none repeat scroll 0 0 #fff;border-radius: 3px;height:25px;padding:2px;}
.filter-sort {margin-right: 30px;}
.key-search-input {width: 165px;}
.submit-search {
    background: url("../images/icon-search.png") no-repeat scroll center center #fff;
    border: 1px solid #ccc;
    border-radius: 0 2px 2px 0;
    display: inline-block;
    height: 27px;
    margin: -9px 10px 0 -7px;
    padding: 0;
    text-indent: -9999em;
    width: 25px;
}
#search-book label {float: left;line-height: 40px;padding-right: 10px;}
.item-book {display: block;margin-bottom: 50px;overflow: hidden;position: relative;}
.bookstore-content {line-height: 1.6em;padding-top: 5px;}
.bookstore-image {float: left;padding-right: 22px;}
.bookstore-image{
	text-align: center;
}
.bookstore-image a{
	height: 100%;
	display: inline-block;
	border: 1px solid #cccccc;
	border-radius: 5px;
	padding: 4px;
	box-shadow: -1px 1px 2px #E6E6E6 inset, 1px 1px 2px #E6E6E6 inset, 1px -1px 3px #E6E6E6 inset;
}
.title-item-book > a {color: #0089c0;font-size: 18px;font-weight: bold;}
.author-item-book {font-size: 15px;}
.content-item-book {font-size: 14px;line-height: 1.5em;padding-top: 15px;}
.content-bookstore-page > ul {margin-right: 25px;}
.author-item-book > strong {padding-right: 5px;}
.bookstore-footer {border-top: 1px solid #ccc;font-size: 15px;font-weight: normal;margin-top: -15px;padding: 25px 0;text-align: center;text-transform: uppercase;}
.bookstore-footer > a {color: #333dc1;}
.line-head-book {font-size: 16px;padding-bottom: 5px;padding-top: 15px;text-align: right;}
.line-head-book span{font-style: italic;}
.line-head-book span {color: #6c6c6c;font-style: italic;font-weight: normal;}
#search-book .key-search-input {height: 25px;padding: 0 4px;width: 165px;}
.view-more-item {font-style: italic;}
.bookstore-left-detail{width: 32%;}
.bookstore-right-detail{width: 68%;}
.bookstore-wrapper > div {float: left;min-height: 250px;}
.left-container {margin-right: 15px;height: 100%;padding: 12px;}
.right-container {margin-left: 15px;min-height: 668px;padding: 0 12px 12px;}
.header-content-book {border-bottom: 1px solid #ccc;margin: 0 -12px;padding: 10px 0;overflow: hidden;}
.header-content-book > h3 {font-size: 20px;padding-left: 12px;text-transform: none;float: left;}
.social-book-detail {
    float: right;
    line-height: 25px;
    margin-right: 31px;
}
.social-book-detail a {
	color: #1222bc;
	text-decoration: none;
}
.sum-book-detail {line-height: 1.9em;}
.main-content-book {margin: 25px 8px 8px;}
.sum-book-detail > h4, .info-book-detail > h4 {
    color: #139ade;
    font-size: 21px;
    font-weight: bold;
    border-bottom: 5px solid #eaeaea;
    padding-bottom: 13px;
    margin-bottom: 10px;
}
.info-book-detail {margin-top: 50px;}
.sum-book-detail > div {font-size: 14px;}
.sum-book-detail > div > strong{padding-right: 5px;}
.sum-book-detail > div > span{color:#494949}
.left-book-detail-image {text-align: center;}
.left-book-detail-image > a {
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 5px 0 3px -5px #909090 inset, -5px 0 3px -5px #909090 inset, 0 5px 3px -5px #909090 inset, 0 -5px 3px -5px #909090 inset;
    display: inline-block;
    overflow: hidden;
    position: relative;
}
.left-book-detail-image img {padding: 5px;width: 306px;}
.left-book-pay > ul {margin: 0 auto;}
.left-book-pay {margin-top: 15px;}
.item-payment {display: block;height: 40px;margin: 0 7px 10px;text-align: center;}
.item-payment > a {display: block;height: 100%;text-indent: -9999em;}
.item-payment .registration, .item-payment .view-more{
    background-color: #1096d9;
    background-image: -moz-linear-gradient(center top , #129ade, #0583c1);
    background-repeat: repeat-x;
    border-radius: 3px;
    color: #f7f6f6;
    font-size: 16px;
    line-height: 40px;
    text-decoration: none;
    text-indent: 0;
    width: 319px;
	border: 1px solid #0570a6;
}
.item-payment .view-more{
    background-color: #f4f3f4;
    background-image: -moz-linear-gradient(center top , #ffffff, #f4f3f4);
    color: #666666;
	border: 1px solid #cccccc;
}
.content-detail-info {
    font-size: 14px;
    line-height: 1.9em;
}


/*For action MAP*/
.content-map-page, .content-map-detail{
	height: 100%;
	border: 1px solid #cccccc;
	border-radius: 5px;
	margin: 15px;
	box-shadow: -1px 1px 2px #E6E6E6 inset, 1px 1px 2px #E6E6E6 inset, 1px -1px 3px #E6E6E6 inset;
	padding: 4px;
}
.google-map{
	min-height: 800px;
}
/*Hide lose(x) icon*/
img[src="http://maps.gstatic.com/mapfiles/api-3/images/mapcnt3.png"] {
    display: none;
}
/*Hide term, error report in bottom right*/
.gm-style-cc { display:none; }
/*Reset max-with for image tag wrap close(x) icon*/
.google-map img{
	max-width: none;
}
.google-map .popup-event img{
	max-width: 100%;
}
/*For popup*/
.popup-event {
	display : block;
	overflow: hidden;
	position: relative; 
	min-width: 500px;
    min-height: 80px;
}
.popup-event-image {float: left;padding-right: 16px;}
.popup-event-image a{
	height: 100%;
	display: inline-block;
}
.popup-event-content {line-height: 1.6em;overflow: hidden}
.popup-event-content a{
	color: #0089c0;
	font-size: 15px;
	font-weight: bold;
	text-decoration: none;
}
.popup-event-content .detail-link-event a{
	font-weight: normal;
	font-style: italic;
}
.time-event, .location-event {font-size: 15px;}
.time-event > strong, .location-event >strong {padding-right: 5px;}

/*Detail Page*/

.content-map-detail{
    margin: 8px;
	margin-bottom: 40px;
}
.map-detail{
	min-height: 306px;
}