.wr_bd{
    min-height: 845px;
}

.back_to a{
    display: block;
    padding: 15px 15px 0;
    font-size: 15px;
}

.page_com{
    border: 1px solid #ccc;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}

.block_title h4{
    display: block;
    border-bottom: 1px solid #ccc;
    padding: 10px 15px;
}

.page_body{
    height: 875px;   
    overflow-y: auto;
}

.inner_page_bd{
    padding: 10px 10px 10px 10px;
}

/*====================*/
.block{
    border: 1px solid #0570a6;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    margin-bottom: 10px;
}

.block_tt{
    background-image: -webkit-linear-gradient(top, #40ABE1 0%, #1096D9 100%);
    background-image: -moz-linear-gradient(top, #40ABE1 0%, #1096D9 100%);
    border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    -ms-border-radius: 4px 4px 0 0;
    -o-border-radius: 4px 4px 0 0;
}

.block_tt h5{
    display: block;
    padding: 10px;
    color: #fff;
}

.block_bd{
    padding: 5px;
}

.block_bd p{
    line-height: 22px;
    font-size: 14px;
    color: #ccc;   
    margin-bottom: 0 !important;
    padding: 5px 5px;
}

.leeft_text{
    color: #666 !important;
}

.html_block_text{
    padding: 75px 0 !important;
    color: #ccc !important;
    text-align: center;
}

/*.block_video{
    background: #e5e5e5 url('../images/files/block/play_video.png') no-repeat 50% 50%;
    height: 130px;
}*/

.link_block{
    display: inline-block;
    padding: 5px 0;
}

.img_list{
    margin-left: 2px;
}

.img_list .img_item_list{
    float: left;
    width: 46px;
    height: 46px;
    background-color: #e5e5e5 !important;
    margin: 2px;
}

.ipt_block{
    width: 95%;
    display: block !important;
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    -ms-box-shadow: none !important;
    -o-box-shadow: none !important;
}

.ipt_block:focus{
    outline: none !important;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    -ms-box-shadow: none !important;
    -o-box-shadow: none !important;
}

/*.imag{
    height: 130px;
    background-color: #e5e5e5;
}*/

.multi_col_left,
.multi_col_right{
    border: 1px dashed #ccc;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    padding: 10px;
    min-height: 823px;
}

.multi_col_left{
    width: 480px;    
}

.multi_col_right{
    width: 280px;
}

.action_block{
    margin: 8px 0 0 0!important;
    width: 111px;
}

.action_block li{
    float: left;    
    color: #666;
    list-style: disc;
}

.action_block li:first-child{
    margin-right: 25px;
    list-style: none;
}

.action_block li a{
    display: block;
    padding: 0 5px;
    color: #fff;
}
/*====================*/

.btn_ac{
    background-image: -webkit-linear-gradient(top, #40ABE1 0%, #1096D9 100%);
    background-image: -moz-linear-gradient(top, #40ABE1 0%, #1096D9 100%);
    border: 1px solid #0570a6;    
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    padding: 3px 20px;
    margin-top: 5px;
    margin-right: 5px;
    color: #fff;
}

.btn_ac:hover{
    background-image: -webkit-linear-gradient(bottom, #40ABE1 0%, #1096D9 100%);
    background-image: -moz-linear-gradient(bottom, #40ABE1 0%, #1096D9 100%);
    text-decoration: none;
    color: #fff;
}

.btn_base{
    background-image: -webkit-linear-gradient(top, #ffffff 0%, #e8e8e8 100%);
    background-image: -moz-linear-gradient(top, #ffffff 0%, #e8e8e8 100%);
    border: 1px solid #ccc;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    padding: 3px 20px;
    margin-top: 5px;
    margin-right: 5px;
    color: #333;
    text-decoration: none;
}

.btn_base:hover{
    background-image: -webkit-linear-gradient(bottom, #ffffff 0%, #e8e8e8 100%);
    background-image: -moz-linear-gradient(bottom, #ffffff 0%, #e8e8e8 100%);
    text-decoration: none;
}

.page_item{
    width: 218px;
    height: 288px;
    position: relative;
    border: 1px solid #ccc;
    margin: 27px;
    cursor: pointer;    
}

.page_item:after{
    content: "";
    width: 31px;
    height: 31px;
    position: absolute;
    right: -2px;
    top: -2px;    
    background: #fff url(../images/corner.png) no-repeat;
}

.content_align{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    text-align: center;
    height: 50px;
}

.content_align h4{
    font-size: 15px;
}

.content_align span{
    color: #999;
}

.action{
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 15px;
    display: none;
}

.action .btn:first-child{
    margin-left: 15px !important;
}

.page_item:hover .action{
    display: block;
}

/*Form*/
.item_field{
    margin-bottom: 30px;
}

.item_field label{
    display: block;
    font-weight: bold;
    font-size: 15px;
}

.ipt{
    height: 28px !important;
}

.item_layout{
    width: 188px;
    height: 208px;
    border: 1px solid #ccc;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    margin-right: 15px;
}

.type_layout{
    padding: 10px;
}

.single_lay,
.col-left,
.col-right{
    border: 1px dashed #ccc;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    height: 155px;
}

.col-left{
    width: 98px;
}

.col-right{
    width: 56px;
}

.choice_layout{
    border-top: 1px solid #ccc;
    text-align: center;
    line-height: 28px;
}

/*===================*/
.man_left{
    border-right: 1px solid #ccc;
    width: 440px;
    padding: 20px;    
}

.color_man_row{
    margin-bottom: 10px;
    position: relative;
}

.color_man_row label{
    display: inline-block;
    width: 150px;
    text-align: right;
    font-weight: 700;
    float: left;
    line-height: 28px;
    margin-right: 15px;
}

.color_man_row input[type=text]{
    height: 22px !important;
}

.color_man_row .gen{
    position: absolute;
    top: 5px;
    right: 60px;
    border: 1px solid #ccc;
    width: 35px;
    height: 15px;
    padding: 2px;
}

.gen_page_bg,
.gen_page_font,
.gen_page_link,
.gen_sec_title,
.gen_header_bg,
.gen_header_font{
    width: 97%;
    height: 88%;
    cursor: pointer;
    display: block;
    border: 1px solid #ccc;
}

.gen_page_bg{
    background-color: #cccccc;
}

.gen_page_font{
    background-color: #333333;
}

.gen_page_link{
    background-color: #0033CC;
}

.gen_sec_title{
    background-color: #139ADE;
}

.gen_header_bg{
    background-color: #17658C;
}

.gen_header_font{
    background-color: #FFFFFF;
}

.color_preview{
    width: 340px;    
}

.design_preview{
    width: 250px;
    margin: 20px auto;
}

.layouts{
    border: 1px solid #ccc;
    margin-top: 5px;
    padding: 5px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;    
}

.inner_layout{
    background-color: #cccccc;
    display: inline-block;
    width: 100%;
}

.layouts_header{
    background-color: #17658C;
    height: 40px;
}

.layouts_logo{
    background-color: #fff;
    height: 20px;
    width: 60px;
    margin-top: 9px;
    margin-left: 8px;
}

.navvigate ul{
    margin-top: 10px;
}

.navvigate ul li{
    float: left;
    display: inline-block;
    background-color: #fff;
    width: 30px;
    height: 5px;
    margin: 5px;
}

.layouts_content{
    width: 200px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border: 1px solid #ccc;
    margin: 5px auto;
    background-color: #fff;
    display: block;
    height: 170px;
}

.section_title{
    background-color: #139ADE;
    border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    -ms-border-radius: 4px 4px 0 0;
    -o-border-radius: 4px 4px 0 0;
}

.section_title h6{
    color: #fff;
    font-size: 8px;
    padding: 5px;
}

.left_content{
    width: 130px;
    height: 50px;
    background-color: #ececec;
    margin-top: 5px;
    margin-left: 5px;
}

.right_content {
    margin-right: 5px;
    margin-top: 5px;
    width: 55px;
}

ul.r_sb{
    width: 100%;
    margin-left: 0 !important;
}

ul.r_sb li{
    height: 3px;
    display: block;
    width: 100%;
    margin-bottom: 5px;
    background-color: #333333;
}

.links{
    height: 3px;
    display: block;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 3px;
    background-color: #0033cc;
}

.photo-logo-avatar > a{
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 5px 0px 3px -5px #909090 inset, -5px 0px 3px -5px #909090 inset, 0px 5px 3px -5px #909090 inset, 0px -5px 3px -5px #909090 inset;
    -webkit-box-shadow: 5px 0px 3px -5px #909090 inset, -5px 0px 3px -5px #909090 inset, 0px 5px 3px -5px #909090 inset, 0px -5px 3px -5px #909090 inset;
    -moz-box-shadow: 5px 0px 3px -5px #909090 inset, -5px 0px 3px -5px #909090 inset, 0px 5px 3px -5px #909090 inset, 0px -5px 3px -5px #909090 inset;
    box-shadow: 5px 0px 3px -5px #909090 inset, -5px 0px 3px -5px #909090 inset, 0px 5px 3px -5px #909090 inset, 0px -5px 3px -5px #909090 inset;
    display: block;
    height: 130px;
    padding: 5px;
    width: 130px;
    text-align: center;
}
