#header-top .navbar .nav > li > a{font-weight: bold;}
.launch-sologan {
    color: #FFFFFF;
    display: block;
    font-size: 15px;
    font-style: italic;
    font-weight: bold;
    padding-top: 10px;
}
.hight-light {
    border: 1px solid #ff0000 !important;
}
.ok-validate{background: url("../images/ok.png") no-repeat scroll rgba(0, 0, 0, 0);border:1px #65B346 solid !important;}
.error-validate {
    background: url("../images/close.png") no-repeat scroll rgba(0, 0, 0, 0);
}
.invalid-field{float: right;color: #FF0000 !important;font-weight: normal;font-size: 12px;}
.invalid-strength{float: right;font-weight: normal;font-size: 12px;}
#recaptcha_privacy {display: none;}
.recaptcha_theme_red #recaptcha_response_field{top:-2px;}
.invalid-strength.weak > span {color: #FF3300;}
.invalid-strength.moderate > span {color: #FF9900;}
.invalid-strength.strong > span {color: #6BCD12;}
.form-actions{background:none;border-top:0px;}
.message-success {
    background: url("../images/ok.png") no-repeat scroll 10px center rgba(0, 0, 0, 0);
    border: 1px solid #65b346;
    color: #65b346;
    margin: 15px 20px 0;
    padding: 10px 30px;
    position: relative;
}
.message-error {
    background: url("../images/close.png") no-repeat scroll 10px center rgba(0, 0, 0, 0);
    border: 1px solid #FF0000;
    color: #FF0000;
    margin: 15px 20px 0;
    padding: 10px 30px;
    position: relative;
}
.errorMessage{
    color: #FF0000;
}
.invalid-email{float: right;color: #FF0000 !important;font-weight: normal;font-size: 12px;}

.infomation_profile{
    margin-top: 15px;
}

.avatar_user{
    border: 2px solid #fff;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    margin-left: 10px;
    width: 50px;
    height: 50px;
}

.info_log{
    margin-top: 5px;
}

.info_log ul li{
    text-align: right;
    color: #fff;
    font-size: 14px;
    margin-bottom: 5px;
}

.info_log ul li a{
    color: #fff;
    display: inline-block;
    padding: 0 5px;
}

.info_log ul li a:last-child{padding-right: 0;}