.main-content > .container {
    background-color: #CCCCCC !important;
}

.account-type > span {
    display: block;
    overflow: hidden;
    padding: 10px 0;
    position: relative;
}

.account-type > span > input, .account-type > span > label {
    display: block;
    float: left;
    margin-right: 5px;
}

.account-type > span > label {
    margin-right: 40px;
    font-size: 14px;
    color: #3A3A3A;
}

.user-field-captcha {
    clear: both;
    margin: 12px auto 0;
    position: relative;
    text-align: center;
    width: 318px;
}

.user-field-terms > input, .user-field-terms > label {
    display: block;
    float: left;
    margin-right: 5px;
    font-size: 14px;
}

label[for="RegistrationForm_user_terms"] > span.required {
    display: none;
}

.user-field-terms {
    padding-top: 15px;
}

.user-read-terms {
    clear: both;
    display: block;
    padding-top: 15px;
    text-align: left;
    color: #909090;
}

.field-row {
    margin-bottom: 15px;
}

#create-user-form > .field-row > input[type="text"], #create-user-form > .field-row > input[type="password"] {
    color: #747474;
    font-size: 16px;
    height: 35px;
    padding: 0 4px;
    width: 488px;
    border: 1px #CCCCCC solid;
}

#create-user-form .field-row > label {
    color: #333333;
    font-size: 16px;
    font-weight: bold;
}

#create-user-account {
    background-color: #FFFFFF;
    border: 1px solid #DDDDDD;
    border-radius: 6px;
    box-shadow: 0 1px 1px #B3B3B3, 1px 0 1px #B3B3B3, -1px 0 1px #B3B3B3, 0 -1px 1px #B3B3B3;
    margin: 50px auto;
    padding-bottom: 5px;
    width: 540px;
}

#create-user-account > h3 {
    font-size: 20px;
    font-weight: bold;
    padding: 30px 20px 0px;
    color: #1096D9;
}

#create-user-account > .form {
    margin-top: -10px;
}

#create-user-account .form-actions {
    padding: 0px;
}

#create-user-account .form-actions > input {
    border-radius: 3px;
    font-size: 16px;
    padding: 0px 0;
    width: 495px;
    height: 40px;
    background-color: #1096D9;
    background-image: -moz-linear-gradient(center top, #1096D9, #0786C5);
    background-repeat: repeat-x;
    border: medium none;
}

#create-user-account .form-actions > input:hover {
    background-color: #1096D9;
    background-position: 0;
}

#create-user-account .well {
    background-color: #FFFFFF;
    border: 0px solid rgba(0, 0, 0, 0.05);
    border-radius: 0px;
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0.05) inset;
    margin-bottom: 0px;
    min-height: 0px;
    padding: 0px 21px;
}

#create-user-account .hr {
    border: 2px #efefef solid;
}

#create-user-account > .success {
    padding: 10px 20px;
}

.field-row span.required {
    display: none;
}

label[for="RegistrationForm_company"] > span {
    color: #909090;
    font-size: 12px;
    font-weight: normal;
    padding-left: 5px;
}

.user-field-terms > .alert.alert-error {
    clear: both;
}

.hight-light {
    border: 1px #FF0000 solid !important;
}

.ok-validate {
    background: url("../images/ok.png") no-repeat scroll 470px center rgba(0, 0, 0, 0);
    border: 1px #65B346 solid !important;
}

.error-validate {
    background: url("../images/close.png") no-repeat scroll 470px center rgba(0, 0, 0, 0);
}

.invalid-email {
    float: right;
    color: #FF0000 !important;
    font-weight: normal;
    font-size: 12px;
}

.user-field-terms .invalid-email {
    clear: both;
    display: block;
    float: none;
    text-align: left;
}

.main-content > .container {
    border-radius: 0px;
    box-shadow: 0 0px 0px #B3B3B3 !important;
}

/*Social*/
.social {
    position: relative;
    overflow: hidden;
}

.social a {
    float: left;
    height: 41px;
    width: 166px;
    text-decoration: none;
/ / margin-bottom : 10 px;
}

.well label.bold {
    margin: 20px 0 15px 3px;
}

.social a > span {
    color: #FFFFFF;
    display: block;
    font-size: 11px;
    padding-left: 43px;
    padding-top: 11px;
}

.facebook {
    background: url("../images/social-buttons.png") no-repeat scroll 0 -34px rgba(0, 0, 0, 0);
}

.twitter {
    background: url("../images/social-buttons.png") no-repeat scroll 0 2px rgba(0, 0, 0, 0);
}

.google {
    background: url("../images/social-buttons.png") no-repeat scroll 0 -71px rgba(0, 0, 0, 0);
}

label.bold {
    color: #333333;
    font-size: 16px;
    font-weight: normal;
}

form > .field-company span{
    font-size: 13px;
    font-weight: normal;
    color: #aaa;
}
