/*Create Structure Page*/
.wrap-left, .wrap-right {
	float: left;
	min-height: 1000px;
}
.wrap-left{
	width: 25%;
}
.wrap-right{
	width: 75%;
}
ul{
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}
/*Left Panel*/
.category{
	margin-bottom: 30px;
}
.box{
	margin-right: 15px;
	border-radius: 5px;
	box-shadow: 0 1px 1px #b3b3b3, 1px 0 1px #b3b3b3, -1px 0 1px #b3b3b3, 0 -1px 1px #b3b3b3;
}
.box .title, .wrap-right .title{
	height: 46px;
    border-bottom: 1px solid #cccccc;
	background: linear-gradient(to top, #f5f5f5 0%, #ffffff 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
	border-radius: 5px 5px 0px 0px;
}
.box .title span{
	float: left;
	font-size: 20px;
	margin: 14px 20px;
}
.box .list{
	padding: 11px 0 23px 20px;
	background: linear-gradient(to top, #f5f5f5 0%, #ffffff 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
	border-radius: 0 0 5px 5px;
}
.box .list a, .wrap-right .title a{
	color: #1222bc;
	text-decoration: none;
	margin: 5px 0;
	display: inline-block;
}
.box .list a.check-all, .wrap-right .title a.check-all{
	border-right: 1px solid #cccccc;
	padding-right: 10px;
}
.box .list a.uncheck-all, .wrap-right .title a.uncheck-all{
	margin-left: 6px;
}
.box .list ul{
	margin-top: 5px;
}
.box .list ul li{
	margin-bottom: 3px;
}
.box .list ul li > div{
	display: block;
    overflow: hidden;
}
.box .list ul li input, .box .list ul li label {
	display: block;
	float: left;
} 
.box .list ul li label{
	padding-left: 10px;
	font-size: 16px;
	color: #7d7d7d;
}

.box .list ul li label:hover{
	cursor: pointer;
}

/*Right Panel*/
.content{
	margin-left: 15px;
	border-radius: 5px;
	box-shadow: 0 1px 1px #b3b3b3, 1px 0 1px #b3b3b3, -1px 0 1px #b3b3b3, 0 -1px 1px #b3b3b3;
	background-color: #ffffff;
}
/*Box filter, search*/
.info-search-filter {float: right;}
.info-search-filter > form > div {float: left;line-height: 57px;}
.filter-sort label {display: block;float: left;line-height: 40px;padding: 5px 12px 5px 0;}
#search-form-video .filter-search label {line-height: 50px;}
#sortvideo {width: 145px;background: none repeat scroll 0 0 #fff;border-radius: 3px;height:25px;padding:2px;}
.filter-sort {margin-right: 30px;}
.key-search-input {width: 165px;}
.submit-search {
    background: url("../images/icon-search.png") no-repeat scroll center center #fff;
    border: 1px solid #ccc;
    border-radius: 0 2px 2px 0;
    display: inline-block;
    height: 27px;
    margin: -9px 10px 0 -7px;
    padding: 0;
    text-indent: -9999em;
    width: 25px;
}
#search-form-video label {float: left;line-height: 40px;padding-right: 10px;}
#search-form-video .key-search-input {height: 25px;padding: 0 4px;width: 165px;}
.wrap-right .title .filter-type {
    display: inline;
	float: left;
	position: absolute;/*Dont break form when zoom*/
}
.wrap-right .title a.check-all, .wrap-right .title a.uncheck-all{
	margin-top: 16px;
}
.wrap-right .title a.check-all{
	float: left;
	margin-left:  230px;
}
/*List video*/
.video-list{
	padding: 25px;
}
.most-popular, .most-viewed{
	padding-top: 15px;
}
.video-list .sub-title {
	font-size: 20px;
	color: #139ade;
	border-bottom: 5px solid #eaeaea;
	display: block;
	padding-bottom: 15px;
}
.video-list-detail {
    margin: 0 -22px;
	overflow: hidden;
}
.video-list ul{
	height: 100%;
	margin-top: 20px;
	overflow: hidden;
}
.video-list ul li{
	float: left;
	width: 25%;                               
	height: 100%;
	margin-bottom: 18px;
}
.video-list ul li .thumbnail-video{
	text-align: center;
}
.video-list ul li .thumbnail-video a{
	height: 100%;
	display: inline-block;
	border: 1px solid #cccccc;
	border-radius: 3px;
	padding: 4px;
	box-shadow: -1px 1px 2px #E6E6E6 inset, 1px 1px 2px #E6E6E6 inset, 1px -1px 3px #E6E6E6 inset;
}
.video-list ul li a, .video-list ul li span{
	display: block;
	padding-left: 25px;
}
.video-list ul li a{
	color: #333dc1;
	text-decoration: none;
	margin: 2px 0;
}
.video-list ul li span{
	color: #7d7d7d;
    margin: 3px 0;
}
/*Load More Footer*/
.bookstore-footer {
	border-top: 1px solid #ccc;
	font-size: 15px;
	font-weight: normal;
	margin-top: -15px;
	margin-left: 20px;
	margin-right: 20px;
	padding: 25px 0;
	text-align: center;
	text-transform: uppercase;
}
.bookstore-footer > a {
	color: #1222bc;
	text-decoration: none;
}

/*Detail Page*/
/*Structure*/
.wrap-detail, .wrap-related{
    display: block;
	overflow: hidden;
    padding: 30px;
    position: relative;
	background-color: #FFFFFF;
	border-radius: 5px;
	box-shadow: 0 1px 1px #b3b3b3, 1px 0 1px #b3b3b3, -1px 0 1px #b3b3b3, 0 -1px 1px #b3b3b3;
}
.wrap-detail {
	margin-bottom: 30px;
}
.wrap-related {
	padding: 0px;
}
/*Top block*/
/*Left*/
#video-content{
    float: left;
	width: 70%;
}
#detail-video{
	float: right;
	width: 28%;
}
#video-content, #detail-video{
	display: block;
}
#video-content .head-content, #detail-video .detail-head{
	background-color: #139ade;
	height: 55px;
	border: 1px solid #107cb3;
	border-radius: 5px 5px 0 0;
	color: #FFFFFF;
}
.head-content span, .detail-head span{
	float: left;
	font-size: 18px;
	margin: 19px;
}
.head-content a{
	float: right;
	color: #FFFFFF;
	text-decoration: none;
	font-size: 13px;
	margin: 19px;
}
#video-content .main-content{
	border: 1px solid #cccccc;
	border-top: none;
	border-radius: 0 0 5px 5px;
	padding: 15px;
}
.youtube-video {
	background-color: #f8f7f7;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    padding: 4px;
	padding-bottom: 0px;
	overflow: hidden;
}

/*Right*/
.detail-main{
	border: 1px solid #cccccc;
	border-top: none;
	border-radius: 0 0 5px 5px;
}

.detail-main .title-desc, .detail-main .length-desc{
	display: block;
	padding: 0 30px 8px;
}
.detail-main .title-desc{
	font-weight: bold;
	padding-top: 15px;
}
.detail-main .length-desc{
	font-style: italic;
	margin-bottom: 20px;
}
.detail-main .full-desc {
    color: #333333;
    font-size: 14px;
    line-height: 23px;
    min-height: 271px;
    padding: 0 30px 30px;
    text-align: justify;
}
.detail-main .meta-category, .detail-main .meta-tag{
	padding: 0 30px 10px;
}
.detail-main .meta-type {
    color: #139ade;
    display: inline-block;
    text-align: right;
    width: 20%;
	vertical-align: top;
}
.detail-main .meta-content {
    display: inline-block;
    padding-left: 15px;
    width: 70%;
}

/*Bottom block*/
.wrap-related .related-title{
    height: 46px;
    border-bottom: 1px solid #cccccc;
	background: linear-gradient(to top, #f5f5f5 0%, #ffffff 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
	border-radius: 3px 3px 0px 0px;
}
.wrap-related .related-title span{
	float: left;
	font-size: 18px;
	margin: 14px 20px;
}
.wrap-related .related-title a{
	float: right;
	color: #333dc1;
	text-decoration: none;
	font-size: 14px;
	margin: 14px 20px;
}
 /*Custom video list*/
.related-list ul li{
	float: left;
	width: 20%;                               
	height: 100%;
	margin-bottom: 18px;
}
.related-list .video-list-detail {
    margin: 0 43px;
}

.related-list ul li a, .related-list ul li span{
	padding-left: 23px;
}