ul,ol{
    list-style: none;
}

.ok-validate {
    background: url("../images/ok.png") no-repeat scroll 470px center rgba(0, 0, 0, 0);
    border: 1px #65B346 solid !important;
}

.hight-light {
    border: 1px #FF0000 solid !important;
}

.error-validate {
    background: url("../images/close.png") no-repeat scroll 470px center rgba(0, 0, 0, 0);
}

.white_box{
    width: 540px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 6px;        
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    box-shadow: 0 1px 1px #B3B3B3, 1px 0 1px #B3B3B3, -1px 0 1px #B3B3B3, 0 -1px 1px #B3B3B3;
}

.white_box_title{
    padding: 10px 15px;
    border-bottom: 1px solid #ccc;
}

.white_box_body,
.white_box_foot{
    padding: 20px;
}

.fld_row{
    margin-bottom: 30px;
}

.fld_row label{
    font-weight: 700;

}

.fld_row label span{
    color: #999;
    font-size: 12px;
}

.fld_row input.ipt_box{
    width: 98%;
    height: 24px !important;
    display: block !important;
}

.fld_row span.site{
    color: #999;
}

.btn_ac{
    text-align: center;
    display: block;
    padding: 10px 0;
    font-size: 14px;
    font-weight: 700;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    background-image: -webkit-linear-gradient(top, #40ABE1 0%, #1096D9 100%);
    background-image: -moz-linear-gradient(top, #40ABE1 0%, #1096D9 100%);
    border: 1px solid #0570a6;
    color: #fff;
}

.btn_ac:hover{
    background-image: -webkit-linear-gradient(bottom, #40ABE1 0%, #1096D9 100%);
    background-image: -moz-linear-gradient(bottom, #40ABE1 0%, #1096D9 100%);
    color: #fff;
    text-decoration: none;
}

.line_box{
    border-bottom: 3px solid #ccc;
    margin-top: 50px;
}

.white_captcha{
    margin: 30px auto;
    width: 318px;
    text-align: center;
}

.user_agree{
    font-size: 14px;
}

.something p{
    margin-top: 20px;    
    font-size: 14px;
}

/*==================*/
.item_dashboard{
    width: 400px;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

.it_head h4{
    text-align: center!important;
    color: #999;
    font-weight: 700;
}

.stt{
    background-color: #f5f5f5;
    text-align: center;
    margin-top: 25px;
}

.stt p{    
    color: #1299dd;
    font-size: 55px;
    line-height: 90px;
}

.stt span{
    color: #999;
}

.body_db{
    height: 200px;
    overflow-y: auto;
    background-color: #fff;
}

.inner_body_db{
    padding: 10px 0 0 30px;
}

.tbl_dashboard td,
.tbl_top td,
.tbl_approval td,
.tbl_achieve td{
    border-top: none !important;    
}

.tbl_dashboard td:first-child{
    color: #ccc !important;
}

.tbl_dashboard td:last-child{
    font-weight: 700 !important;
}

.tbl_dashboard td span,
.tbl_achieve td span{
    color: #1299dd;
}

.tbl_achieve td,
.tbl_approval td{
    font-weight: 700;
}

.tbl_approval td span{
    color: #1299dd;
    margin-right: 20px;
    font-weight: 700;
}

.tbl_top td,
.tbl_top th{    
    padding: 13px;
}

.tbl_top td:nth-child(2){
    font-weight: 700;
    color: #1299dd;
}

.btn_act{
    background-image: -webkit-linear-gradient(top, #40ABE1 0%, #1096D9 100%);
    background-image: -moz-linear-gradient(top, #40ABE1 0%, #1096D9 100%);
    border: 1px solid #0570a6;    
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    padding: 3px 20px;
    margin-top: 5px;
    margin-right: 5px;
    color: #fff;
}

.btn_act:hover{
    background-image: -webkit-linear-gradient(bottom, #40ABE1 0%, #1096D9 100%);
    background-image: -moz-linear-gradient(bottom, #40ABE1 0%, #1096D9 100%);
    text-decoration: none;
    color: #fff;
}

.btn_cancel{
    margin-top: 9px;
    margin-right: 15px;
}

.wrap_site_confi{
    width: 500px;
}

.photo-logo-image > a{
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 5px 0px 3px -5px #909090 inset, -5px 0px 3px -5px #909090 inset, 0px 5px 3px -5px #909090 inset, 0px -5px 3px -5px #909090 inset;
    -webkit-box-shadow: 5px 0px 3px -5px #909090 inset, -5px 0px 3px -5px #909090 inset, 0px 5px 3px -5px #909090 inset, 0px -5px 3px -5px #909090 inset;
    -moz-box-shadow: 5px 0px 3px -5px #909090 inset, -5px 0px 3px -5px #909090 inset, 0px 5px 3px -5px #909090 inset, 0px -5px 3px -5px #909090 inset;
    box-shadow: 5px 0px 3px -5px #909090 inset, -5px 0px 3px -5px #909090 inset, 0px 5px 3px -5px #909090 inset, 0px -5px 3px -5px #909090 inset;
    display: block;
    height: 130px;
    padding: 5px;
    width: 260px;
    text-align: center;
}

.coming_soon{
    height: 400px;
    text-align: center;
}

.coming_soon span{
    display: inline-block;
    text-transform: uppercase;
    font-size: 20px;
    color: #ccc;
    margin-top: 180px;
}

#whitelabel_Industry_title {
    display: block;
    width: 500px;
    border: 1px solid #ccc !important;
    border-radius: 3px !important;
    height: 35px !important;
    padding: 0 !important;
    cursor: pointer !important;
}

#whitelabel_Industry_child{
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-radius: 0 0 3px 3px;
    border-right: 1px solid #ccc;
    width: 500px !important;
}

#config_avatar {display: block;opacity: 0;position: absolute;z-index: 9999;height: 45px;width: 295px;}
#logo_image {display: block;opacity: 0;position: absolute;z-index: 9999;height: 45px;width: 295px;}

/*.item_db_body{
    background-color: #ddd;    
}*/

.dashboard_tab li a{
    font-weight: 700;
    color: #333;
}

.button_add,
.button_add_sc{
    color: #666;
    border: 1px solid #ccc;
    background-image: -webkit-linear-gradient(top, #ffffff 0%, #e8e8e8 100%);
    background-image: -moz-linear-gradient(top, #ffffff 0%, #e8e8e8 100%);
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    width: 180px;    
    margin-bottom: 10px;
    text-align: center;    
    cursor: pointer;
    font-weight: 700;
}

.button_add:hover,
.button_add_sc:hover{
    background-image: -webkit-linear-gradient(bottom, #ffffff 0%, #e8e8e8 100%);
    background-image: -moz-linear-gradient(bottom, #ffffff 0%, #e8e8e8 100%);
    text-decoration: none;
    color: #333;
}

.button_add{    
    height: 100px;
    text-align: center
}

.button_add img{
    display: block;
    margin: 20px auto 10px;
}

.button_add span{
    font-weight: 700;
}

.button_add_sc{
    padding: 25px 0
}

.wrap_das_sc{
    padding: 11px 11px 0;
}