/* ===== Primary Styles ========================================================
   Author:
========================================================================== */
h1,h2,h3,h4,h5,h6{
    margin:0;
    padding:0;
    border:0;
    outline:0;
    /*font-size:100%;*/
    vertical-align:baseline;
    background:transparent;
}

body, html{
    min-height: 100%;
    height: 100%;
}
body {
    background-color: #CCCCCC;
    color: #333333;        
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 21px;
    margin: 0;
}
tt {word-wrap: break-word;}
#header-top, #header-top.img {margin-top:10px;margin-bottom:20px;}
#header-top > .span4{padding-top:15px;}
#header-top > .span1 {padding-top: 12px;}
footer {
    margin-bottom: 2em;
    color: #999999;    
}
footer p {padding:12px 10px 6px 10px;}

footer .span8 li {
    display: inline-block;
    padding-right: 15px;
}
footer .span8 li a{color:#1222BC;}
footer .span8 > ul {margin: 0;}
footer .span8 > span {
    color: #333333;
    display: block;
    padding-top: 10px;
}
/* Styles for the Google search, on error page */
#goog-fixurl ul { list-style: none; padding: 0; margin: 0; }
#goog-fixurl form { margin: 0; }
#goog-wm-qt, #goog-wm-sb { border: 1px solid #bbb; font-size: 16px; line-height: normal; vertical-align: top; color: #444; border-radius: 2px; }
#goog-wm-qt { width: 220px; height: 20px; padding: 5px; margin: 5px 10px 0 0; box-shadow: inset 0 1px 1px #ccc; }
#goog-wm-sb { display: inline-block; height: 32px; padding: 0 10px; margin: 5px 0 0; white-space: nowrap; cursor: pointer; background-color: #f5f5f5; background-image: -webkit-linear-gradient(rgba(255,255,255,0), #f1f1f1); background-image: -moz-linear-gradient(rgba(255,255,255,0), #f1f1f1); background-image: -ms-linear-gradient(rgba(255,255,255,0), #f1f1f1); background-image: -o-linear-gradient(rgba(255,255,255,0), #f1f1f1); -webkit-appearance: none; -moz-appearance: none; appearance: none; *overflow: visible; *display: inline; *zoom: 1; }
#goog-wm-sb:hover, #goog-wm-sb:focus { border-color: #aaa; box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1); background-color: #f8f8f8; }
#goog-wm-qt:focus, #goog-wm-sb:focus { border-color: #105cb6; outline: 0; color: #222; }

/*****Hung Update******/
.header-wrapper-main {background: none repeat scroll 0 0 #17658C;padding-top: 10px;padding-bottom: 20px;}
.navbar .nav .active > a, .navbar .nav .active > a:hover {
    background:none;
    color: #FFFFFF;
    text-decoration: none;
}
.navbar-inners {
    color: #FFFFFF;
    float: right;
    font-size: 17px;
    padding-top: 10px;
    margin-right: -35px;
}
.navbar-inners a{color:#ffffff !important;}
.launch-sologan {
    color: #FFFFFF;
    display: block;
    font-size: 15px;
    padding-top: 5px;
}
.line-info-login {
    color: #FFFFFF;
    /*padding-right: 20px;*/
    text-align: right;
    font-size:12px;
}
.line-info-login a{color:#FFFFFF !important;}
.user-login-line {padding-right: 5px;}
.user-register-line {padding-left: 5px;}
.main-content {padding-top: 20px;}
.l-container{
    background-color: #FFFFFF;
    border-radius: 6px;
    margin-bottom: 30px;
    border-radius: 6px;
    box-shadow: 0 1px 1px #B3B3B3, 1px 0 1px #B3B3B3, -1px 0 1px #B3B3B3, 0 -1px 1px #B3B3B3;
}
.unit-wrapper{
    padding:30px;
}
#header-top .span4 a:hover{text-decoration: none !important;}
.hero-unit{background: none !important;}

.line-header {
    background: none repeat scroll 0 0 #ffffff;
    box-shadow: 0 2px 3px 0 #909090;
    min-height: 50px;
    text-align: center;
}
.line-header-content {
    color: #909090;
    font-size: 14px;
    padding-top: 15px;
    vertical-align: middle;
}
.main-content {
    padding-top: 32px;
}
.line-hidden{display: none;}

/*======================================================*/
.new_nav_bar{
    background: none;
    border: none;
    min-height: 0px;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -o-box-shadow: none;
}

.logo_site{
    font-size: 0;
    display: block;
    margin-top: 15px;
}

.but_pansonic{
    font-size: 0;
    display: block;
    margin-top: 5px;
}

ul.navigation_bar > li > a{
    color: #fff !important;
    padding: 10px 8px !important;
    font-weight: 700;
    font-size: 17px;
    font-family: 'Lato';
    text-shadow: none;
    -webkit-text-shadow: none;
    -moz-text-shadow: none;
    -o-text-shadow: none;
}

ul.navigation_bar > li > a:hover{
    text-decoration: underline !important;
}

ul.navigation_bar > li:last-child > a{
    padding-right: 0 !important;
}

.footer{
    margin-top: 45px;
}

.nav_foot ul{
    margin-left: -40px;
    list-style: none;
}

.nav_foot ul li{
    float: left;
    margin-right: 20px;
}

.nav_foot ul li a{
    font-size: 12px;
    font-family: 'Tahoma';
    color: #1222bc;
}

.footer span.coppy_right{
    color: #000;
    font-family: 'Tahoma';
    font-size: 12px;
}


/*====================ADMIN PAGE=======================*/
.pagination {
    margin: 3px 0 0 0 !important;
}
.pagination ul {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    margin-left: 0;
    margin-bottom: 0;
}
.pagination ul > li {
    display: inline;
}
.pagination ul > li > a,
.pagination ul > li > span {
    float: left;
    padding: 4px 4px;
    line-height: 18px;
    text-decoration: none;
    background-color: #fff;
}
.pagination ul > li > a:hover,
.pagination ul > li > a:focus
{

}
.pagination ul > .active > a,
.pagination ul > .active > span {
    background: url('../img/active_pagination.png') center no-repeat;
    color:white;
    padding: 4px 8px;
}
.pagination ul > .active > a,
.pagination ul > .active > span {
    color: #fff;
    cursor: default;
}
.pagination ul > .disabled > span,
.pagination ul > .disabled > a,
.pagination ul > .disabled > a:hover,
.pagination ul > .disabled > a:focus {
    color: #fff;
    background-color: transparent;
    cursor: default;
}
.pagination ul > li:first-child > a,
.pagination ul > li:first-child > span {
    border-left-width: 1px;
    -webkit-border-top-left-radius: 4px;
    -moz-border-radius-topleft: 4px;
    border-top-left-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
    -moz-border-radius-bottomleft: 4px;
    border-bottom-left-radius: 4px;
    background-image:none;
    color:#0887C6;
}
.pagination ul > li:last-child > a,
.pagination ul > li:last-child > span {
    -webkit-border-top-right-radius: 4px;
    -moz-border-radius-topright: 4px;
    border-top-right-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
    -moz-border-radius-bottomright: 4px;
    border-bottom-right-radius: 4px;
    background-image:none;
    color:#0887C6;
}
.pagination-centered {
    text-align: center;
}
.pagination-right {
    text-align: right;
}
.pagination-large ul > li > a,
.pagination-large ul > li > span {
    padding: 11px 19px;
    font-size: 16.25px;
}
.pagination-large ul > li:first-child > a,
.pagination-large ul > li:first-child > span {
    -webkit-border-top-left-radius: 6px;
    -moz-border-radius-topleft: 6px;
    border-top-left-radius: 6px;
    -webkit-border-bottom-left-radius: 6px;
    -moz-border-radius-bottomleft: 6px;
    border-bottom-left-radius: 6px;
}
.pagination-large ul > li:last-child > a,
.pagination-large ul > li:last-child > span {
    -webkit-border-top-right-radius: 6px;
    -moz-border-radius-topright: 6px;
    border-top-right-radius: 6px;
    -webkit-border-bottom-right-radius: 6px;
    -moz-border-radius-bottomright: 6px;
    border-bottom-right-radius: 6px;
}
.pagination-mini ul > li:first-child > a,
.pagination-mini ul > li:first-child > span,
.pagination-small ul > li:first-child > a,
.pagination-small ul > li:first-child > span {
    -webkit-border-top-left-radius: 3px;
    -moz-border-radius-topleft: 3px;
    border-top-left-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -moz-border-radius-bottomleft: 3px;
    border-bottom-left-radius: 3px;
}
.pagination-mini ul > li:last-child > a,
.pagination-mini ul > li:last-child > span,
.pagination-small ul > li:last-child > a,
.pagination-small ul > li:last-child > span {
    -webkit-border-top-right-radius: 3px;
    -moz-border-radius-topright: 3px;
    border-top-right-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
    -moz-border-radius-bottomright: 3px;
    border-bottom-right-radius: 3px;
}
.pagination-small ul > li > a,
.pagination-small ul > li > span {
    padding: 2px 10px;
    font-size: 12px;
}
.pagination-mini ul > li > a,
.pagination-mini ul > li > span {
    padding: 0 6px;
    font-size: 9.75px;
}

#content_pagination {
    margin-top:10px;
    float:right;
    margin-bottom:10px;
}

/*POPUP*/
#overlay_bg {
    width:100%;
    height:100%;
    position:fixed;
    background:black;
    opacity:0.6;
    top:0;
    left:0;
    z-index:1000;
    display:none;
}

#overlay_content {
    width:580px;
    background:white;
    z-index:1001;
    opacity:1;
    position:absolute;
    top:0;
    left:-90%; /*hide the box to the position out of screen*/
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.com_entrepreneur #overlay_content,
.com_provider #overlay_content,
.com_partner #overlay_content
{
    width:830px;
}

.w_header{
    border-bottom: 1px solid #ccc;
}

.w_header .btn-wrapper{
    float: right;
    margin: 8px 10px;
}

.w_header .btn-wrapper:nth-child(3){
    margin-right: 0;
}

.w_header h4.title_header{
    font-size: 18px;
    font-weight: 600;
    padding: 15px 0 15px 20px;
    color: #333;
}

.w_footer{
    border-top: 1px solid #ccc;
    padding: 10px 0;
}

.w_footer .btn-wrapper{
    float: right;
    margin: 0 10px;
}

.w_footer .btn-wrapper:first-child{
    margin-left: 0;
}
/*end popup*/
.new_select{
    width: 100%;
    padding: 5px 0 !important;
}


.invalid {
    color: #9d261d;
    font-weight: bold;
}

input.invalid {
    border: 1px solid #9d261d;
}

#p_content .control-group{
    margin-bottom: 30px;
}

#p_content .control-label label{
    font-size: 16px;
    font-weight: 600;
}

#p_content .control-label label small{
    font-size: 12px;
    color: #999;
}

/**/
#UserProfile_avatar {display: block;opacity: 0;position: absolute;z-index: 9999;height: 45px;width: 295px;}
#avatarProfile { 
    width: 256px;
    font-size: 16px;
    height: 35px;                
    margin-top: 5px;
}
#nameFile-Profile {display: none;padding-left: 12px;padding-top: 40px;position: relative;}
.avatar-profile-file {min-height: 40px;font-size: 16px;}
.intro-photo-profile {color: #989898;padding-top: 5px;}
.user-field-terms {display: block;margin-bottom: 25px;margin-top: -15px;overflow: hidden;position: relative;}
.user-field-terms > input {display: block;float: left;}
.user-field-terms label {display: block;float: left;font-size: 15px;font-weight: bold;padding-left: 10px;}
.photo-avatar-image > a {   
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 5px 0px 3px -5px #909090 inset, -5px 0px 3px -5px #909090 inset, 0px 5px 3px -5px #909090 inset, 0px -5px 3px -5px #909090 inset;
    -webkit-box-shadow: 5px 0px 3px -5px #909090 inset, -5px 0px 3px -5px #909090 inset, 0px 5px 3px -5px #909090 inset, 0px -5px 3px -5px #909090 inset;
    -moz-box-shadow: 5px 0px 3px -5px #909090 inset, -5px 0px 3px -5px #909090 inset, 0px 5px 3px -5px #909090 inset, 0px -5px 3px -5px #909090 inset;
    box-shadow: 5px 0px 3px -5px #909090 inset, -5px 0px 3px -5px #909090 inset, 0px 5px 3px -5px #909090 inset, 0px -5px 3px -5px #909090 inset;
    display: block;
    height: 134px;
    padding: 5px;
    width: 134px;
    text-align: center;
}

#for_entre .control-group:last-child {
    margin-bottom: 120px;
}

/**/


.user-avatar {
    float: right;
    width: 50px;    
    border: 2px solid #c5d8e2;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
}
.user-avatar img {
    width: 50px;
    height: 50px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
}

.user-info {
    float: right;
    text-align: right;
    padding: 10px;
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
}

.user-info a {
    padding:0 10px 0 10px;
    color: #ffffff;
    border-right: 1px solid #8bb2c6;
}

.user-info a:hover{
    text-decoration: underline;
    color: #fff;
}

.user-info a:nth-child(5){
    border: none;
    padding-right: 0;
}

.message {
    background-color: #ffffff;
    -moz-box-shadow:  0 1px 3px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow:  0 1px 3px rgba(0, 0, 0, 0.4);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
    height: 50px;
    width: 100%;
}

.message .container {    
    color: #333333;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 50px;
}

.bg_content_admin{
    background-color: #fff;
    box-shadow: 0 1px 1px #B3B3B3, 1px 0 1px #B3B3B3, -1px 0 1px #B3B3B3, 0 -1px 1px #B3B3B3;
    -webkit-box-shadow: 0 1px 1px #B3B3B3, 1px 0 1px #B3B3B3, -1px 0 1px #B3B3B3, 0 -1px 1px #B3B3B3;
    -moz-box-shadow: 0 1px 1px #B3B3B3, 1px 0 1px #B3B3B3, -1px 0 1px #B3B3B3, 0 -1px 1px #B3B3B3;
    background-color: #FFFFFF;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}

.main_menu{
    padding: 20px 0 20px 20px;
}

.menu_title{
    display: block;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 600;
}

.main_menu ul{
    /*border: 1px solid #0570a6;*/
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    margin-left: -40px !important;
}

.main_menu ul li{
    background-image: -webkit-linear-gradient(top, #1198DC 0%, #0785C4 100%);
    background-image: -moz-linear-gradient(top, #1198DC 0%, #0785C4 100%);
    border-bottom: 1px solid #0570a6;
    display: block;
    width: 109%;
}

.main_menu ul li:first-child{
    border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    -ms-border-radius: 5px 5px 0 0;
    -o-border-radius: 5px 5px 0 0;
}

.main_menu ul li:last-child{
    border-bottom: none;
    border-radius: 0 0 5px 5px;
    -webkit-border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    -ms-border-radius: 0 0 5px 5px;
    -o-border-radius: 0 0 5px 5px;
}

.main_menu ul li a{
    background: url("../img/arow-cotrol.png") no-repeat scroll 90% 11px rgba(0, 0, 0, 0);
    color: #FFFFFF;
    display: block;
    font-size: 14px;
    font-weight: 600;
    padding: 11px 10px 11px 10px;

}

.main_menu ul .m_active,
.main_menu ul li:hover{
    background-image: -webkit-linear-gradient(bottom, #0570A6 0%, #0D7FB8 100%);
    background-image: -moz-linear-gradient(bottom, #0570A6 0%, #0D7FB8 100%);
}

.main_menu ul li a:hover{
    text-decoration: none;
}

.btn-toolbar{
    margin-top: 8px;
    margin-right: 8px;
}

.btn-wrapper {
    float:right;
}

#toolbar-custom a {
    margin-top:6px;
    margin-right:15px;
    float:left;
}

.warper{
    border: 1px solid #ccc;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
}

.wrap_content_ad{
    border: 1px solid #ccc;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    margin: 20px 20px 20px 25px
}

.none_border{
    border: none;
}

.head_title_content{
    border-bottom: 1px solid #ccc;
    background-image: -webkit-linear-gradient(top, #f5f5f5 0%, #ffffff 100%);
    background-image: -o-linear-gradient(top, #f5f5f5 0%, #ffffff 100%);
    background-image: linear-gradient(to bottom, #f5f5f5 0%, #ffffff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe0e0e0', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    background-repeat: repeat-x;
    border-radius: 7px 7px 0 0;
    -webkit-border-radius: 7px 7px 0 0;
    -moz-border-radius: 7px 7px 0 0;
    -ms-border-radius: 7px 7px 0 0;
    -o-border-radius: 7px 7px 0 0;
}

.head_title_content h4{
    font-size: 18px;
    font-weight: 600;
    padding: 15px 0 15px 20px;    
}

.body_content{
    margin: 23px 23px 23px 30px;    
}

#sidebar .element-invisible,
#sidebar .hr-condensed,
#sidebar h4.page-header{
    display: none !important;
}

#sortTable_msdd{
    width: 105px !important;
}

#filter_active_msdd{
    width: 100px !important;
}

.ddlabel{
    font-size: 12px;
    font-family: 'Tahoma';
}

.inner_content_ad{
    border-bottom: 1px solid #ccc;   
}

.title_for_box{
    font-size: 15px;
    font-weight: 600;
    color: #666;
    padding: 10px 0 10px 10px;
}

.inline_filter_bar {
    margin-right: 5px;
    font-size: 12px;
}

.m_top{
    margin-top: 5px;
    margin-right: 5px;
}

.group_m_right{
    margin-right: 25px;
}

.m_content{
    padding: 15px;
}

.perpage_inline{
    font-size: 12px;
    font-family: 'Tahoma';
    font-weight: normal;
}

.space_top{
    margin-top: 10px;
}

.tbl_admin > thead > tr > th{
    border-bottom: none;
    font-size: 14px;
    font-weight: 600;
}

.tbl_admin > tbody > tr > td{
    border-top: none;
}
/*=====================================================*/