#preneurs-widget{
    background-color: #FFFFFF;
	border-radius: 3px;
}

#preneurs-widget{
	min-height: 340px;
}

ul{
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

#preneurs-widget .widget-title{
    height: 46px;
    border-bottom: 1px solid #cccccc;
	background: linear-gradient(to top, #f5f5f5 0%, #ffffff 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
	border-radius: 3px 3px 0px 0px;
}

#preneurs-widget .widget-title span{
	float: left;
	font-size: 18px;
	margin: 14px 20px;
}

#preneurs-widget .widget-title a{
	float: right;
	color: #333dc1;
	text-decoration: none;
	font-size: 14px;
	margin: 14px 20px;
}

#preneurs-widget .widget-list{
	display: block;
	overflow: hidden;
}

#preneurs-widget .widget-list ul li{
	display: block;
	overflow: hidden;
	margin-bottom: 8px;
}

#preneurs-widget .widget-list .avatar{
	float: left;
    padding: 20px;
}

#preneurs-widget .widget-list .avatar a{
	height: 100%;
	display: inline-block;
	border: 1px solid #cccccc;
	border-radius: 3px;
	padding: 4px;
	box-shadow: -1px 1px 2px #E6E6E6 inset, 1px 1px 2px #E6E6E6 inset, 1px -1px 3px #E6E6E6 inset;
}

#preneurs-widget .widget-list .detail{
	margin-top: 25px;
	margin-right: 16px;
}

#preneurs-widget .widget-list .detail span{
	font-size: 17px;
}

#preneurs-widget .widget-list .detail p{
	color: #909090;
}

#preneurs-widget .widget-list .detail a{
	color: #333dc1;
	text-decoration: none;
	float: right;
	font-size: 14px;
}