/* 
    Created on : Jun 20, 2014, 10:09:09 AM
    Author     : An Dinh Luan <luanad6365@setacinq.com.vn>
*/
#wrapper-nav .container{
	background-color: #FFFFFF;
	border-radius: 5px;
}
/*Reset ul*/
ul{
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

#wrapper-nav{margin-bottom: 25px;}

#wrapper-nav .span12{box-shadow: 0px 6px 6px #888888;}

#wrapper-nav #nav{
	background-color: #f5f5f5;
    display: block;
    height: 63px;
    margin: 20px;
    position: relative;
	border: 1px solid #cccccc;
	border-radius: 5px;
	box-shadow: 0 2px 1px #E6E6E6 inset;
}

#wrapper-nav ul{height: 100%;}

#wrapper-nav ul.parent-ul > li{
	float: left;
	width: 20%;
	height: 100%;
	text-align: center;
}

#wrapper-nav ul.parent-ul > li > a{
	display: block;
	color: #333333;
	text-decoration: none;
	border-right: 1px solid #cccccc;
	height: 100%;
	font-weight: 600;
	font-size: 14px;
}

#wrapper-nav ul.parent-ul > li.last > a{border-right: none;}

#wrapper-nav ul.parent-ul > li > a span{
	display: block;
	width: 100%
}

#wrapper-nav ul.parent-ul > li > a span:first-child{padding-top: 15px;}

/*Active li in parent-ul*/
#wrapper-nav .active > a {
	background: linear-gradient(to bottom, #1096D9 0%, #0785C4 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
	border: 1px solid #0570a6 !important;
    margin-left: -1px;
    margin-top: -1px;
	color: #FFFFFF !important;
}

#wrapper-nav li.last.active > a{
	border-radius: 0 5px 5px 0;
	margin-right: -1px;
}

#wrapper-nav li.first.active > a{
	border-radius: 5px 0px 0px 5px;
}

/*Hover block*/
#wrapper-nav .step-content {
    background-color: #FFFFFF;
    left: 0;
    margin-left: -21px;
    padding: 0 21px;
    position: absolute;
    width: 100%;
    z-index: 9;
	display: none;
	border-radius: 0 0 5px 5px;
    box-shadow: 0px 6px 6px #888888;
	margin-top:-6px;
	min-height: 400px;
}

#wrapper-nav .list-child-wrap, #wrapper-nav .partner, #wrapper-nav .newsletter{
	float: left;
    text-align: left;
}

#wrapper-nav .list-child-wrap{width: 40%;}

#wrapper-nav .partner{width: 27%;}

#wrapper-nav .newsletter{width: 33%;}

#wrapper-nav .top-title{
    border-bottom: 5px solid #EAEAEA;
    margin-left: 50px;
    margin-top: 31px;
    padding-bottom: 15px;
    font-size: 20px;
    color: #139ade;
}

#wrapper-nav .list-child-wrap .top-title{margin-left: 5px;}

#wrapper-nav ul.child-ul{margin: 30px 0px 30px 11px;}

#wrapper-nav ul.child-ul li{
    overflow: hidden;
    margin-bottom: 15px;
}

#wrapper-nav ul.child-ul li span{
    font-size: 14px;
    font-weight: 600;
    color: #333333;
	padding-top: 11px;
    vertical-align: middle;
}

#wrapper-nav ul.child-ul li a{
    float: right;
    text-decoration: none;
}

#wrapper-nav ul.child-ul li a.uncompleted{
	border: 1px solid #ffffff;
    color: #139ade;
    margin-right: 5px;
    padding: 6px;
}

#wrapper-nav ul.child-ul li a.completed{
    margin-right: 5px;
    color: #333333;
    border: 1px solid #cccccc;
    border-radius: 3px;
    padding: 6px;
    background: linear-gradient(to top, #f5f5f5 0%, #ffffff 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
}

#wrapper-nav .partner .advertising{
	margin-top: 27px;
	margin-left: 50px;
}

#wrapper-nav .partner .advertising a{
    height: 100%;
    display: block;
}

#wrapper-nav .partner .advertising img{
    border: 1px solid #c2ade1;
}

#wrapper-nav .newsletter .newsletter-detail{
	text-align: center;
	margin-left: 50px;
	margin-top: 25px;
}

#wrapper-nav .newsletter-detail span{
	display: block;
	color: #909090;
	font-size: 18px;
    line-height: 25px;
}

#wrapper-nav .newsletter-detail > input{
    height: 38px;
	display: block;
}

#wrapper-nav .newsletter-detail > input[type="text"]{
	padding: 0;
	font-size: 15px;
	font-style: italic;
	box-shadow: 2px 2px 30px #F5F5F5 inset;
	margin-top: 30px;
    padding: 0 0 0 20px;
    width: 93%;
}

#wrapper-nav .newsletter-detail > input[type="submit"]{
	width: 100%;
    border: medium none;
    font-size: 15px;
	font-weight: bold;
	color: #FFFFFF;
	background: linear-gradient(to bottom, #1096D9 0%, #0785C4 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
}


#wrapper-nav .newsletter-detail > input[type="submit"]:hover {
	background-color:#1096D9;
	background-position: 0;
}

#wrapper-nav .parent-li-hover{
	background: url('../../images/step-parent-hover.png') no-repeat;
	width: 12px;
	height: 7px;
	margin: 0 auto;
	margin-top: -1px;
	display: none;
	
}

/*Hover action*/
#wrapper-nav .parent-ul > li:hover .step-content{display: block;}
/*
.parent-ul > li.active > .parent-li-hover, 
*/
#wrapper-nav .parent-ul > li:hover > .parent-li-hover {
    display: block;
	z-index: 99999;
	position: relative;
}
#wrapper-nav .parent-ul > li:hover > a{
	background: linear-gradient(to bottom, #1096D9 0%, #0785C4 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
	border: 1px solid #0570a6 !important;
    margin-left: -1px;
    margin-top: -1px;
	color: #FFFFFF !important;
}

#wrapper-nav .parent-ul > li.last:hover > a{
	border-radius: 0 5px 5px 0;
	margin-right: -1px;
}

#wrapper-nav .parent-ul > li.first:hover > a{
	border-radius: 5px 0 0 5px;
}