#tips-widget{
    background-color: #FFFFFF;
	border-radius: 3px;
}

#tips-widget{
	min-height: 340px;
}

#tips-widget .widget-title{
    height: 46px;
    border-bottom: 1px solid #cccccc;
	background: linear-gradient(to top, #f5f5f5 0%, #ffffff 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
	border-radius: 3px 3px 0px 0px;
}

#tips-widget .widget-title span{
	float: left;
	font-size: 18px;
	margin: 14px 20px;
}

#tips-widget .widget-title a{
	float: right;
	color: #333dc1;
	text-decoration: none;
	font-size: 14px;
	margin: 14px 20px;
}

#tips-widget .widget-list{
	display: block;
	overflow: hidden;
}

#tips-widget .widget-list .avatar{
	float: left;
    padding: 20px;
}

#tips-widget .widget-list .avatar a{
	height: 100%;
	display: inline-block;
	border: 1px solid #cccccc;
	border-radius: 3px;
	padding: 4px;
	box-shadow: -1px 1px 2px #E6E6E6 inset, 1px 1px 2px #E6E6E6 inset, 1px -1px 3px #E6E6E6 inset;
}

#tips-widget .widget-list .detail{
	margin-top: 25px;
	margin-right: 16px;
}

#tips-widget .widget-list .detail span{
	font-size: 17px;
}

#tips-widget .widget-list .detail p{
	color: #909090;
}

#tips-widget .widget-list .detail a{
	color: #333dc1;
	text-decoration: none;
	float: right;
	font-size: 14px;
}

#tips-widget .widget-list .quote{
	border: 1px solid #cccccc;
	border-radius: 3px;
	margin: 16px 22px 0px 20px;
	font-size: 22px;
	line-height: 1.5em;
	padding: 18px 32px 21px 14px;
	background: linear-gradient(to top, #f5f5f5 0%, #ffffff 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
}

#tips-widget .widget-list .quote-arrow{
	background: url('../../images/tip-quote.png') no-repeat;
	display: block;
	width: 25px;
	height: 15px;
	margin-left: 155px;
	margin-top: -1px;
}

#tips-widget .widget-list .detail a{
	margin-right: 9px;
}

#tips-widget .widget-list .avatar{
	margin-top: -26px;
}