#wrapper-content .container{
	background-color: #FFFFFF;
	border-radius: 5px;
}

/*Begin Widget*/
#wrapper-content{
	margin-bottom: 30px;
}

.left-widget{
    float: left;
	width: 49%;
}

.right-widget{
	float: right;
	width: 49%;
}