/* ===== Primary Styles ========================================================
   Author:
   ========================================================================== */
body, html{
    min-height: 100%;
    height: 100%;
}
body {
    background-color: #CCCCCC;
    color: #333333;        
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 21px;
    margin: 0;
}
tt {word-wrap: break-word;}
#header-top, #header-top.img {margin-top:10px;margin-bottom:20px;}
#header-top > .span4{padding-top:15px;}
#header-top > .span1 {padding-top: 12px;}
footer {
    margin-bottom: 2em;
    color: #999999;
    /*background-color: #2c2c2c;
    background-image: -moz-linear-gradient(top, #333333, #222222);
    background-image: -ms-linear-gradient(top, #333333, #222222);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#333333), to(#222222));
    background-image: -webkit-linear-gradient(top, #333333, #222222);
    background-image: -o-linear-gradient(top, #333333, #222222);
    background-image: linear-gradient(top, #333333, #222222);
    background-repeat: repeat-x;
    -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
              border-radius: 4px;
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#333333', endColorstr='#222222', GradientType=0);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
     -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
              box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);*/
}
footer p {padding:12px 10px 6px 10px;}

footer .span8 li {
    display: inline-block;
    padding-right: 15px;
}
footer .span8 li a{color:#1222BC;}
footer .span8 > ul {margin: 0;}
footer .span8 > span {
    color: #333333;
    display: block;
    padding-top: 10px;
}
/* Styles for the Google search, on error page */
#goog-fixurl ul { list-style: none; padding: 0; margin: 0; }
#goog-fixurl form { margin: 0; }
#goog-wm-qt, #goog-wm-sb { border: 1px solid #bbb; font-size: 16px; line-height: normal; vertical-align: top; color: #444; border-radius: 2px; }
#goog-wm-qt { width: 220px; height: 20px; padding: 5px; margin: 5px 10px 0 0; box-shadow: inset 0 1px 1px #ccc; }
#goog-wm-sb { display: inline-block; height: 32px; padding: 0 10px; margin: 5px 0 0; white-space: nowrap; cursor: pointer; background-color: #f5f5f5; background-image: -webkit-linear-gradient(rgba(255,255,255,0), #f1f1f1); background-image: -moz-linear-gradient(rgba(255,255,255,0), #f1f1f1); background-image: -ms-linear-gradient(rgba(255,255,255,0), #f1f1f1); background-image: -o-linear-gradient(rgba(255,255,255,0), #f1f1f1); -webkit-appearance: none; -moz-appearance: none; appearance: none; *overflow: visible; *display: inline; *zoom: 1; }
#goog-wm-sb:hover, #goog-wm-sb:focus { border-color: #aaa; box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1); background-color: #f8f8f8; }
#goog-wm-qt:focus, #goog-wm-sb:focus { border-color: #105cb6; outline: 0; color: #222; }

/*****Hung Update******/
.header-wrapper-main {background: none repeat scroll 0 0 #17658C;padding-top: 10px;padding-bottom: 20px;}
.navbar .nav .active > a, .navbar .nav .active > a:hover {
    background:none;
    color: #FFFFFF;
    text-decoration: none;
}
.navbar-inners {
    color: #FFFFFF;
    float: right;
    font-size: 17px;
    padding-top: 10px;
    margin-right: -35px;
}
.navbar-inners a{color:#ffffff !important;}
.launch-sologan {
    color: #FFFFFF;
    display: block;
    font-size: 15px;
    padding-top: 5px;
}
.line-info-login {
    color: #FFFFFF;
    /*padding-right: 20px;*/
    text-align: right;
    font-size:12px;
}
.line-info-login a{color:#FFFFFF !important;}
.user-login-line {padding-right: 5px;}
.user-register-line {padding-left: 5px;}
.main-content {padding-top: 20px;}
.l-container{
    background-color: #FFFFFF;
    border-radius: 6px;
    margin-bottom: 30px;
    border-radius: 6px;
    box-shadow: 0 1px 1px #B3B3B3, 1px 0 1px #B3B3B3, -1px 0 1px #B3B3B3, 0 -1px 1px #B3B3B3;
}
.unit-wrapper{
    padding:30px;
}
#header-top .span4 a:hover{text-decoration: none !important;}
.hero-unit{background: none !important;}

.line-header {
    background: none repeat scroll 0 0 #ffffff;
    box-shadow: 0 2px 3px 0 #909090;
    min-height: 50px;
    text-align: center;
}
.line-header-content {
    color: #909090;
    font-size: 14px;
    padding-top: 15px;
    vertical-align: middle;
}
.main-content {
    padding-top: 32px;
}
.line-hidden{display: none;}

/*======================================================*/
.new_nav_bar{
    background: none;
    border: none;
    min-height: 0px;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -o-box-shadow: none;
}

.logo_site{
    font-size: 0;
    display: block;
    margin-top: 15px;
}

.but_pansonic{
    font-size: 0;
    display: block;
    margin-top: 5px;
}

ul.navigation_bar > li > a{
    color: #fff !important;
    padding: 10px 8px !important;
    font-weight: 700;
    font-size: 17px;
    font-family: 'Lato';
    text-shadow: none;
    -webkit-text-shadow: none;
    -moz-text-shadow: none;
    -o-text-shadow: none;
}

ul.navigation_bar > li > a:hover{
    text-decoration: underline !important;
}

ul.navigation_bar > li:last-child > a{
    padding-right: 0 !important;
}

.nav_foot ul{
    margin-left: -40px;
}

.nav_foot ul li{
    float: left;
    margin-right: 20px;
}

.nav_foot ul li a{
    font-size: 12px;
    font-family: 'Tahoma';
    color: #1222bc;
}

.footer-wrapper-site span.coppy_right{
    color: #000;
    font-family: 'Tahoma';
    font-size: 12px;
}